body {
    min-width: 320px;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.ant-card-body {
    display: flex;
    /*max-height: 350px;*/
}
.item_title {
    display: flex;
    width: 80%;
    max-height: 90px;
    line-height: normal;
}
.item_header {
    display: flex;
    min-width: 100%;
}
.item_vote_int {
    display: flex;
    align-items: center;
}
.ant-tabs-nav-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_item_block {
    display: flex;
}
.item_genres {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.item_overview,
font {
    height: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.item_date {
    display: flex;
    height: 30px;
    width: 100%;
}

:where(.css-dev-only-do-not-override-3rel02).ant-rate .ant-rate-star:not(:last-child) {
    margin-inline-end: 0;
}
.item_image_block_error {
    display: flex;
    min-width: 200px;
    min-height: 300px;
}

.item_vote {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: auto;
    max-width: 20%;
}
.ant-col .css-dev-only-do-not-override-3rel02 {
    padding-left: 0;
    padding-right: 0;
}
.item_genres_silver {
    display: inline-block;
    margin-right: 2px;
    padding: 2px 2px;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.1);
    height: 25px;
    border: 1px solid #808080;
}
.item_vote {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
}

@media (max-width: 320px) {
    .item_image_block,
    .item_image {
        display: flex;
        max-width: 80px;
        max-height: 80px;
    }
}

@media (max-width: 720px) {
    .item_title {
        font-size: 14px;
    }

    .ant-card .ant-card-body {
        padding: 5px;
    }

    .item_vote {
        display: flex;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        margin-left: auto;
        max-width: 20%;
    }
    .item_vote_int {
        display: flex;
        align-items: center;
    }
    .ant-rate-star {
        font-size: 15px;
        display: inline-flex;
        margin-inline-end: 6px;
    }
}
@media (max-width: 400px) {
    .item_image_block_error {
        display: flex;
        min-width: 80px;
        min-height: 80px;
    }
    .item_image_block,
    .item_image {
        display: flex;
        max-width: 80px;
        max-height: 80px;
    }

    .item_genres {
        transform: translate(-50px, 10px);
    }
    .item_overview {
        transform: translate(-50px, 10px);
        width: 220px;
    }
    .item_vote {
        transform: translate(-33px, 0px);
    }
    .item_title {
        width: 70%;
    }
    .ant-rate {
        margin-left: 40px;
    }
}

@media (min-width: 400px) and (max-width: 720px) {
    .item_image_block_error {
        display: flex;
        min-width: 140px;
        min-height: 200px;
    }
    .item_image_block,
    .item_image {
        display: flex;
        max-width: 140px;
        max-height: 200px;
    }
}
@media (min-width: 720px) {
    .ant-spin {
        display: flex;
        min-width: 200px;
        min-height: 300px;
    }
    .item_image_block,
    .item_image {
        display: flex;
        max-width: 200px;
        max-height: 300px;
    }
}
@media (min-width: 980px) {
    .ant-rate-star {
        font-size: 18px;
    }
}
@media (min-width: 1120px) {
    .ant-rate-star {
        font-size: 20px;
    }
}
